.svg-area {
    width: 100%;
}

.interaction-area {
    width: 100vb;
    max-width: 50%;
}

.cutselect {
    display: flex;
    flex-direction: column;
}

.operations {
    display: flex;
    flex-direction: row;
    justify-content: left
}